
//light background

$light-background: url('../assets/image/smoke4.png');
$light-player-background: url('../assets/image/smoke.png');
$light-back-mobile: url('../assets/image/smoke-mobile.png');

//button shadow light play

$buttonP-darker: #e9cbb2;
$buttonP-lighter: #c4ab95;
$shadow-buttonP-darker: #b9a28d;
$shadow-buttonP-lighter: #fbdbbf;

//button shadow light pause

$button: #dabea6;
$shadow-button-darker: #b9a28d;
$shadow-button-lighter: #fbdbbf;

// dark background

$dark-background: url('../assets/image/smoke-dark.png');
$dark-player-background: url('../assets/image/smoke-dark2.png');
$dark-back-mobile: url('../assets/image/smoke-dark-mobile.png');

//button shadow dark play

$dark-buttonP-darker: #c3a98e;
$dark-buttonP-lighter: #a48e78;
$dark-shadow-buttonP-darker: #9b8671;
$dark-shadow-buttonP-lighter: #d1b699;

//button shadow dark pause

$dark-button: #b69e85;
$dark-shadow-button-darker: #9b8671;
$dark-shadow-button-lighter: #d1b699;