@import 'progressBar';
@import 'mainVariables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.lightBack {
  background-image: $light-background;

  @media (max-width: 1024px) {
    background-image: $light-back-mobile;
  
  }
}

.darkBack {
  background-image: $dark-background;

  @media (max-width: 1024px) {
    background-image: $dark-back-mobile;
    
  }
}

body {

    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

    div {

      section {

        .lightPlayer {
          background-image: $light-player-background;
        }
        .darkPlayer {
          background-image: $dark-player-background;
        }
        .player {
          background-repeat: no-repeat;
          background-size: cover;;
          border-radius: 4em;
          background-position: 50% 30%;
          box-shadow: 15px 15px 31px 8px rgba(0, 0, 0, 0.39);

          .switch {
            --primary-light: #f3b05f;
            --primary: #bd823b;
            --primary-dark: #915d1e;
            --white: #FFFFFF;
            --greyLight-1: #E4EBF5;
            --greyLight-2: #c8d0e7;
            --greyDark: #de8f2f;
            left: 58vw;
            top: 0vw;

            @media (max-width: 1024px) {
              left: 62vw;
              top: -11.5vw;
              
            }

            .switch_ {
              width: 6rem;
              scale: 0.63;
             /* You can change 
              the size here !*/

              input {
                display: none;

                &:checked ~ label::before {
                  opacity: 1;
                }

                &:checked ~ label::after {
                  left: 57%;
                  background: var(--greyLight-1);
                }
              }

              label {
                display: flex;
                align-items: center;
                width: 100%;
                height: 3rem;
                box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
                background: rgba(255, 255, 255, 0);
                position: relative;
                cursor: pointer;
                border-radius: 1.6rem;

                &::after {
                  content: "";
                  position: absolute;
                  left: 0.4rem;
                  width: 2.1rem;
                  height: 2.1rem;
                  border-radius: 50%;
                  background: var(--greyDark);
                  transition: all 0.4s ease;
                }

                &::before {
                  content: '';
                  width: 100%;
                  height: 100%;
                  border-radius: inherit;
                  background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
                  opacity: 0;
                  transition: all 0.4s ease;
                }

              }
            }

          }


          .audio-info {

            div {
              height: 25vw;
              position: relative;

              .active {
                position: absolute;
                max-height: 25vw;
                border-radius: 4em;
                box-shadow: 31px 31px 30px -7px rgba(0, 0, 0, 0.39);
                transition: opacity 0.5s, transform 0.5s;
                top: 0;
                left: 0;
                right: 0;
              }

              @media (max-width: 1024px) {
                height: 60vw;

                .active {
                  max-height: 60vw;
                }
              }
            }
            
          }

          .volume-wrapper {

            .volume {

              @media (min-width: 1024px) {
                margin-top: -2.5vw;
              }
            }
            
          }
          .empty {
            display: block;
            height: 40px;
          }
          .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 40px;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              top: -10px;
              left: -10px;
              right: -10px;
              bottom: -10px;
              border-radius: 50%;
            }

            .loader-inner {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;

              .loader-block {
                display: inline-block;
                width: 10px;
                height: 10px;
                margin: 2px;
                background-color: #fff;
                box-shadow: 0 0 20px #fff;
                animation: loader_562 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

                &:nth-child(1) {
                  animation-delay: 0.1s;
                }
                
                &:nth-child(2) {
                  animation-delay: 0.2s;
                }
                
                &:nth-child(3) {
                  animation-delay: 0.3s;
                }
                
                &:nth-child(4) {
                  animation-delay: 0.4s;
                }
                
                &:nth-child(5) {
                  animation-delay: 0.5s;
                }
                
                &:nth-child(6) {
                  animation-delay: 0.6s;
                }
                
                &:nth-child(7) {
                  animation-delay: 0.7s;
                }
                
                &:nth-child(8) {
                  animation-delay: 0.8s;
                }

                @keyframes loader_562 {
                  0% {
                    transform: scale(1);
                    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
                  }
                
                  20% {
                    transform: scale(1, 2.5);
                    box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
                  }
                
                  40% {
                    transform: scale(1);
                    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
                  }
                }
              }
            }

          }

          .pauseAndPlay {
  
            button {

              transition: all 0.3s;

              i {
                font-size: 1.2em;
              }
              &:hover {
                color: rgba(212, 140, 45, 0.849);
        
              }
            }

            .play-dark {
              border-radius: 50%;
              background: linear-gradient(145deg, $dark-buttonP-darker, $dark-buttonP-lighter);
              box-shadow: 6px -6px 14px $dark-shadow-buttonP-darker,
              -6px 6px 14px $dark-shadow-buttonP-lighter;

              i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
              }
            }
            .play-light {   
              border-radius: 50%;
              background: linear-gradient(145deg, $buttonP-darker, $buttonP-lighter);
              box-shadow: 6px -6px 14px $shadow-buttonP-darker,
              -6px 6px 14px $shadow-buttonP-lighter;
              
              i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
              }
            }
            .pause-dark {
              border-radius: 50%;
              background: $dark-button;
              box-shadow: inset 6px -6px 14px $dark-shadow-button-darker,
              inset -6px 6px 14px $dark-shadow-button-lighter;

              i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                padding-right: 1.65rem;
              }
            }
            .pause-light {

              border-radius: 50%;
              background: $button;
              box-shadow: inset 6px -6px 14px $shadow-button-darker,
              inset -6px 6px 14px $shadow-button-lighter;
              
              i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                padding-right: 1.65rem;
              }
            }

          }

        

          .progress {

            input[type="range"] {
              --range-progress: 0;
              /* ... */
            }
            
            input[type="range"]::before {
              /* ... */
              background: #de8f2f;
              width: var(--range-progress);
              /* ... */
            }
          }
        }
      }
         
    }

  }



   /* next track */
  .fade-enter {
    opacity: 0;
    z-index: 1;
    transform: scale(0.6);
    pointer-events: none;
  }
  .fade-enter.fade-enter-active {
      transition: scale .25s ease-in-out;
  }
  

  .fade-exit {
      opacity: 1;
      transform: scale(1.2);
      pointer-events: none;
  }
  .fade-exit.fade-exit-active {
      opacity: 0;
      transition: all .25s ease-in-out;
  }
  


   /* prev track */
  .fadeout-enter {
    opacity: 0;
    z-index: 1;
    transform: scale(1.2);
    pointer-events: none;
  }
  .fadeout-enter.fade-enter-active {
      transition: all .25s ease-in-out;
  }
  
  

  .fadeout-exit {
      opacity: 0;
      transform: scale(0.6);
      pointer-events: none;
  }
  .fadeout-exit.fade-exit-active {
      opacity: 0;
      transition: all .25s ease-in-out;
  }
  