input[type=range] {
  --range-progress: 0;
  -webkit-appearance: none;
  position: relative;
  background: #ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* Input range - firefox */
input[type=range]::-moz-range-track {
  position: relative;
  background: #ccc;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type=range]::before {
  content: "";
  height: 3px;
  background: #de8f2f;
  width: var(--range-progress);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

/* played progress length - firefox */
input[type=range]::-moz-range-progress {
  background: #de8f2f;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 3px;
}

/* slider thumb - chrome and safari */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  background-color: #de8f2f;
  cursor: pointer;
  position: relative;
}

/* dragging thumb - chrome and safari */
input[type=range]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

/* slider thumb - firefox */
input[type=range]::-moz-range-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #de8f2f;
  cursor: pointer;
  border: transparent;
  position: relative;
}

/* dragging thumb - firefox */
input[type=range]:active::-moz-range-thumb {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lightBack {
  background-image: url("../assets/image/smoke4.png");
}
@media (max-width: 1024px) {
  .lightBack {
    background-image: url("../assets/image/smoke-mobile.png");
  }
}

.darkBack {
  background-image: url("../assets/image/smoke-dark.png");
}
@media (max-width: 1024px) {
  .darkBack {
    background-image: url("../assets/image/smoke-dark-mobile.png");
  }
}

body {
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
body div section .lightPlayer {
  background-image: url("../assets/image/smoke.png");
}
body div section .darkPlayer {
  background-image: url("../assets/image/smoke-dark2.png");
}
body div section .player {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4em;
  background-position: 50% 30%;
  box-shadow: 15px 15px 31px 8px rgba(0, 0, 0, 0.39);
}
body div section .player .switch {
  --primary-light: #f3b05f;
  --primary: #bd823b;
  --primary-dark: #915d1e;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyDark: #de8f2f;
  left: 58vw;
  top: 0vw;
}
@media (max-width: 1024px) {
  body div section .player .switch {
    left: 62vw;
    top: -18vw;
  }
}
body div section .player .switch .switch_ {
  width: 6rem;
  scale: 0.63;
  /* You can change 
   the size here !*/
}
body div section .player .switch .switch_ input {
  display: none;
}
body div section .player .switch .switch_ input:checked ~ label::before {
  opacity: 1;
}
body div section .player .switch .switch_ input:checked ~ label::after {
  left: 57%;
  background: var(--greyLight-1);
}
body div section .player .switch .switch_ label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  background: rgba(255, 255, 255, 0);
  position: relative;
  cursor: pointer;
  border-radius: 1.6rem;
}
body div section .player .switch .switch_ label::after {
  content: "";
  position: absolute;
  left: 0.4rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background: var(--greyDark);
  transition: all 0.4s ease;
}
body div section .player .switch .switch_ label::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
  opacity: 0;
  transition: all 0.4s ease;
}
body div section .player .audio-info div {
  height: 25vw;
  position: relative;
}
body div section .player .audio-info div .active {
  position: absolute;
  max-height: 25vw;
  border-radius: 4em;
  box-shadow: 31px 31px 30px -7px rgba(0, 0, 0, 0.39);
  transition: opacity 0.5s, transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 1024px) {
  body div section .player .audio-info div {
    height: 60vw;
  }
  body div section .player .audio-info div .active {
    max-height: 60vw;
  }
}
@media (min-width: 1024px) {
  body div section .player .volume-wrapper .volume {
    margin-top: -2.5vw;
  }
}
body div section .player .empty {
  display: block;
  height: 40px;
}
body div section .player .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  position: relative;
}
body div section .player .loader:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
}
body div section .player .loader .loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body div section .player .loader .loader-inner .loader-block {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  animation: loader_562 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
body div section .player .loader .loader-inner .loader-block:nth-child(1) {
  animation-delay: 0.1s;
}
body div section .player .loader .loader-inner .loader-block:nth-child(2) {
  animation-delay: 0.2s;
}
body div section .player .loader .loader-inner .loader-block:nth-child(3) {
  animation-delay: 0.3s;
}
body div section .player .loader .loader-inner .loader-block:nth-child(4) {
  animation-delay: 0.4s;
}
body div section .player .loader .loader-inner .loader-block:nth-child(5) {
  animation-delay: 0.5s;
}
body div section .player .loader .loader-inner .loader-block:nth-child(6) {
  animation-delay: 0.6s;
}
body div section .player .loader .loader-inner .loader-block:nth-child(7) {
  animation-delay: 0.7s;
}
body div section .player .loader .loader-inner .loader-block:nth-child(8) {
  animation-delay: 0.8s;
}
@keyframes loader_562 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  20% {
    transform: scale(1, 2.5);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
  }
  40% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
}
body div section .player .pauseAndPlay {
  display: flex;
  justify-content: space-between;
}
body div section .player .pauseAndPlay button i {
  font-size: 1.3em;
}
body div section .player .pauseAndPlay .play-dark {
  border-radius: 50%;
  background: linear-gradient(145deg, #c3a98e, #a48e78);
  box-shadow: 6px -6px 14px #9b8671, -6px 6px 14px #d1b699;
}
body div section .player .pauseAndPlay .play-dark i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
body div section .player .pauseAndPlay .play-light {
  border-radius: 50%;
  background: linear-gradient(145deg, #e9cbb2, #c4ab95);
  box-shadow: 6px -6px 14px #b9a28d, -6px 6px 14px #fbdbbf;
}
body div section .player .pauseAndPlay .play-light i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
body div section .player .pauseAndPlay .pause-dark {
  border-radius: 50%;
  background: #b69e85;
  box-shadow: inset 6px -6px 14px #9b8671, inset -6px 6px 14px #d1b699;
}
body div section .player .pauseAndPlay .pause-dark i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding-right: 1.65rem;
}
body div section .player .pauseAndPlay .pause-light {
  border-radius: 50%;
  background: #dabea6;
  box-shadow: inset 6px -6px 14px #b9a28d, inset -6px 6px 14px #fbdbbf;
}
body div section .player .pauseAndPlay .pause-light i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding-right: 1.65rem;
}
body div section .player .progress input[type=range] {
  --range-progress: 0;
  /* ... */
}
body div section .player .progress input[type=range]::before {
  /* ... */
  background: #de8f2f;
  width: var(--range-progress);
  /* ... */
}

/* next track */
.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: scale(0.6);
  pointer-events: none;
}

.fade-enter.fade-enter-active {
  transition: scale 0.25s ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: scale(1.2);
  pointer-events: none;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

/* prev track */
.fadeout-enter {
  opacity: 0;
  z-index: 1;
  transform: scale(1.2);
  pointer-events: none;
}

.fadeout-enter.fade-enter-active {
  transition: all 0.25s ease-in-out;
}

.fadeout-exit {
  opacity: 0;
  transform: scale(0.6);
  pointer-events: none;
}

.fadeout-exit.fade-exit-active {
  opacity: 0;
  transition: all 0.25s ease-in-out;
}/*# sourceMappingURL=player.css.map */